html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("../images/header-background2.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Hi!, I am Sneha :) */
.masthead h2 {
  font-family: "Berkshire Swash", cursive;
  color: white;
  font-size: 80px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
  text-shadow: 0 0px 30px aqua;
}
.masthead span > i {
  /* text-shadow: 0 0px 10px lightcoral; */
}

/* nav bar links  */
li a {
  color: white !important;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
  /* color: #f725c3 !important; */
  min-height: 48px;
  width: auto;
}

/* distance between navbar links */
li {
  margin: 0 0 -10px 20px;
}

/* social media icons  */
i.fa {
  margin-left: 10px;
  margin-right: 10px;
  color: white !important;
  font-size: 26px;
}

i.fa:hover {
  text-shadow: 0 0 15px aqua;
}
.connect-with-me {
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  text-align: center;
}

.hr-2 {
  background-color: white;
  width: 20%;
  opacity: 0.19;
}

/* Welcom you to my */
.welcome-you-to-my {
  font: 18px/1.9em "librebaskerville-regular", serif;
  font-size: 22px;
  color: white;
  margin: 0 auto;
  width: 50%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

hr.style11 {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
hr.style11:after {
  content: "#";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 0.95em;

  padding: 0 0.25em;
  background: white;
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  width: 50%;
  opacity: 0.5;

  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}

/* ========== About Me ========== */

.about-me-jumbotron {
  background-color: white;
}

.hr-about-me {
  border: 0;
  height: 4px;

  width: 10%;
  opacity: 0.5;

  background-color: green;
}

.about-me-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 15px;
}

.about-me-hr {
  border-right: 1px dashed green;
}

.about-me-name {
  margin-top: 20px;
  font-family: "Overpass", sans-serif;
  font-family: 'Playfair Display', serif;
  letter-spacing: 10px;
  font-size: 28px;
  color: black;
}
.about-me-footer {
  margin-bottom: -45px;
}
.about-me-description {
  color: black;
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify !important;
  text-align-last: center !important;
}
.about-me-footer-name {
  font-family: "Hind Madurai", sans-serif;
  color: black;
  font-size: 17px;
  font-style: italic;
}
.about-me-footer-designation {
  font-family: "Hind Madurai", sans-serif;
  color: #87868a;
  font-size: 16px;
  font-style: italic;
}

.about-me-footer-hr {
  width: 20%;
}


/* ========= Photo Gallery ========= */
.photo-gallery-container {
  margin-top: 70px;
}
.photo-gallery-big-photo {
  width: 500px;
  height: 100%;
}
.photos1 {
  width: 100%;
  height: 150px;
}
.photos-1-row {
  margin-bottom: 10px;
}

.photos2 {
  width: 100%;
  height: 150px;
}
.photos-2-row {
  margin-bottom: 10px;
}

.photos3 {
  width: 100%;
  height: 180px;
  margin: 0px !important;
  background-size: cover;
}



/* ========================  PARALLAX  */
